{"swagger":"2.0","info":{"description":"The ManageOrders Push API gives Authenticated Users the ability to send External Orders to OnSite.  You must first contact ShopWorks at support@shopworx.com to sign-up.","version":"1.0.0","title":"ManageOrders Push API","contact":{"email":"support@shopworx.com"}},"host":"manageordersapi.com","basePath":"/onsite","tags":[{"name":"Authentication"},{"name":"Orders"}],"schemes":["https"],"paths":{"/order-pull":{"get":{"tags":["Orders"],"summary":"Download Orders that meet a specific timeframe.","description":"","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"id_token in the Sign-In API response.","required":true,"type":"string"},{"name":"date_from","in":"query","description":"Date Range Start.  Based on the date the Order was uploaded.","format":"YYYY-MM-DD","required":true,"type":"string"},{"name":"date_to","in":"query","description":"Date Range End.  Based on the date the Order was uploaded.","format":"YYYY-MM-DD","required":true,"type":"string"},{"name":"time_from","in":"query","description":"Time Range Start.  Works in conjunction with \"date_from\".  Based on the date and time the Order was uploaded.","format":"HH-MM-SS","required":false,"type":"string"},{"name":"time_to","in":"query","description":"Time Range End.  Works in conjunction with \"date_to\".  Based on the date and time the Order was uploaded.","format":"HH-MM-SS","required":false,"type":"string"},{"name":"api_source","in":"query","description":"Filters based on value provided.\n - \"**all**\" or leave empty returns all records regardless of the APISource.\n - \"**none**\"  will ONLY return records without an APISource.\n - \"**AnyAPISource**\" will return all records that match the APISource requested in this field.","required":false,"type":"string"}],"responses":{"200":{"description":"200 Successful","schema":{"$ref":"#/definitions/OrderJson"}},"500":{"description":"500 Internal Server Error","schema":{"$ref":"#/definitions/InternalServerError"}},"403":{"description":"403 Forbidden","schema":{"$ref":"#/definitions/ForbiddenError"}},"400":{"description":"400 Bad Request","schema":{"$ref":"#/definitions/AuthorizationError"}}},"security":[{"cognito-auth":[]}]}},"/order-push":{"post":{"tags":["Orders"],"summary":"Upload a single Order to the database.","description":"","produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"id_token in the Sign-In API response.","required":true,"type":"string"},{"name":"Body","in":"body","description":"Properly formatted JSON.","required":true,"schema":{"$ref":"#/definitions/ExternalOrderJson"}}],"responses":{"200":{"description":"200 Successful","schema":{"$ref":"#/definitions/OrderPushResult"}},"500":{"description":"500 Internal Server Error","schema":{"$ref":"#/definitions/InternalServerError"}},"403":{"description":"403 Forbidden","schema":{"$ref":"#/definitions/ForbiddenError"}},"400":{"description":"400 Bad Request","schema":{"$ref":"#/definitions/AuthorizationError"}}},"security":[{"cognito-auth":[]}]}},"/signin":{"post":{"tags":["Authentication"],"summary":"Sign-In User","description":"You must use this API to authenticate. Once authenticated, use the id_token as your Authorization Header for all other requests.","operationId":"sign-in","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Username and Password. You must contact ShopWorks at support@shopworx.com to sign up.","required":true,"schema":{"$ref":"#/definitions/SignIn"}}],"responses":{"200":{"description":"200 SuccessFul"}}}}},"securityDefinitions":{"cognito-auth":{"type":"apiKey","name":"Authorization","in":"header","x-amazon-apigateway-authtype":"cognito_user_pools"}},"definitions":{"ExternalOrderJson":{"type":"object","properties":{"ExtOrderID":{"type":"string"},"ExtSource":{"type":"string"},"ExtCustomerID":{"type":"string"},"ExtCustomerPref":{"type":"string"},"date_OrderPlaced":{"type":"string"},"date_OrderRequestedToShip":{"type":"string"},"date_OrderDropDead":{"type":"string"},"id_OrderType":{"type":"number"},"id_EmpCreatedBy":{"type":"number"},"id_Customer":{"type":"number"},"id_CompanyLocation":{"type":"number"},"id_SalesStatus":{"type":"number"},"id_ReceivingStatus":{"type":"number"},"id_ShippingStatus":{"type":"number"},"ContactEmail":{"type":"string"},"ContactNameFirst":{"type":"string"},"ContactNameLast":{"type":"string"},"ContactPhone":{"type":"string"},"CustomerPurchaseOrder":{"type":"string"},"CustomerSeviceRep":{"type":"string"},"OnHold":{"type":"number"},"Terms":{"type":"string"},"DiscountPartNumber":{"type":"string"},"DiscountPartDescription":{"type":"string"},"cur_Shipping":{"type":"number"},"TaxTotal":{"type":"number"},"TotalDiscounts":{"type":"number"},"Customer":{"type":"object","properties":{"CompanyName":{"type":"string"},"CustomerSource":{"type":"string"},"CustomerType":{"type":"string"},"InvoiceNotes":{"type":"string"},"MainEmail":{"type":"string"},"SalesGroup":{"type":"string"},"TaxExempt":{"type":"string"},"TaxExemptNumber":{"type":"string"},"WebSite":{"type":"string"},"CustomDateField01":{"type":"string"},"CustomDateField02":{"type":"string"},"CustomDateField03":{"type":"string"},"CustomDateField04":{"type":"string"},"CustomField01":{"type":"string"},"CustomField02":{"type":"string"},"CustomField03":{"type":"string"},"CustomField04":{"type":"string"},"CustomField05":{"type":"string"},"CustomField06":{"type":"string"},"CustomerReminderInvoiceNotes":{"type":"string"},"BillingCompany":{"type":"string"},"BillingAddress01":{"type":"string"},"BillingAddress02":{"type":"string"},"BillingCity":{"type":"string"},"BillingState":{"type":"string"},"BillingZip":{"type":"string"},"BillingCountry":{"type":"string"}}},"Designs":{"type":"array","items":{"type":"object","properties":{"DesignName":{"type":"string"},"ExtDesignID":{"type":"string"},"id_Design":{"type":"number"},"id_DesignType":{"type":"number"},"id_Artist":{"type":"number"},"ForProductColor":{"type":"string"},"VendorDesignID":{"type":"string"},"CustomField01":{"type":"string"},"CustomField02":{"type":"string"},"CustomField03":{"type":"string"},"CustomField04":{"type":"string"},"CustomField05":{"type":"string"},"Locations":{"type":"array","items":{"type":"object","properties":{"Location":{"type":"string"},"TotalColors":{"type":"string"},"TotalFlashes":{"type":"string"},"TotalStitches":{"type":"string"},"DesignCode":{"type":"string"},"CustomField01":{"type":"string"},"CustomField02":{"type":"string"},"CustomField03":{"type":"string"},"CustomField04":{"type":"string"},"CustomField05":{"type":"string"},"ImageURL":{"type":"string"},"Notes":{"type":"string"},"LocationDetails":{"type":"array","items":{"type":"object","properties":{"Color":{"type":"string"},"ThreadBreak":{"type":"string"},"ParameterLabel":{"type":"string"},"ParameterValue":{"type":"string"},"Text":{"type":"string"},"CustomField01":{"type":"string"},"CustomField02":{"type":"string"},"CustomField03":{"type":"string"},"CustomField04":{"type":"string"},"CustomField05":{"type":"string"}}}}}}}}}},"LinesOE":{"type":"array","items":{"type":"object","properties":{"PartNumber":{"type":"string"},"Color":{"type":"string"},"Description":{"type":"string"},"Size":{"type":"string"},"Qty":{"type":"string"},"Price":{"type":"string"},"id_ProductClass":{"type":"number"},"CustomField01":{"type":"string"},"CustomField02":{"type":"string"},"CustomField03":{"type":"string"},"CustomField04":{"type":"string"},"CustomField05":{"type":"string"},"NameFirst":{"type":"string"},"NameLast":{"type":"string"},"LineItemNotes":{"type":"string"},"WorkOrderNotes":{"type":"string"},"ExtDesignIDBlock":{"type":"string"},"DesignIDBlock":{"type":"string"},"ExtShipID":{"type":"string"},"DisplayAsPartNumber":{"type":"string"},"DisplayAsDescription":{"type":"string"}}}},"Notes":{"type":"array","items":{"type":"object","properties":{"Note":{"type":"string"},"Type":{"type":"string"}}}},"Payments":{"type":"array","items":{"type":"object","properties":{"date_Payment":{"type":"string"},"AccountNumber":{"type":"string"},"Amount":{"type":"number"},"AuthCode":{"type":"string"},"CreditCardCompany":{"type":"string"},"Gateway":{"type":"string"},"ResponseCode":{"type":"string"},"ResponseReasonCode":{"type":"string"},"ResponseReasonText":{"type":"string"},"Status":{"type":"string"},"FeeOther":{"type":"number"},"FeeProcessing":{"type":"number"}}}},"ShippingAddresses":{"type":"array","items":{"type":"object","properties":{"ShipCompany":{"type":"string"},"ShipMethod":{"type":"string"},"ShipAddress01":{"type":"string"},"ShipAddress02":{"type":"string"},"ShipCity":{"type":"string"},"ShipState":{"type":"string"},"ShipZip":{"type":"string"},"ShipCountry":{"type":"string"},"ExtShipID":{"type":"string"}}}},"Attachments":{"type":"array","items":{"type":"object","properties":{"MediaURL":{"type":"string"},"MediaName":{"type":"string"},"LinkURL":{"type":"string"},"LinkNote":{"type":"string"},"Link":{"type":"number"}}}}}},"SignIn":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"}}},"Orders":{"type":"object","properties":{"order_json":{"type":"object"}}},"OrderJson":{"type":"object","properties":{"result":{"type":"array","items":{"$ref":"#/definitions/Orders"}}}},"OrderPushResult":{"type":"object","properties":{"result":{"type":"object"}}},"InternalServerError":{"type":"object","properties":{"result":{"type":"string"}}},"ForbiddenError":{"type":"object","properties":{"result":{"type":"string"}}},"AuthorizationError":{"type":"object","properties":{"result":{"type":"string"}}}}}